body{
    background: linear-gradient(to bottom right, #2980B9, #ffff);
    padding: 0 2%;
}


.container_center {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ajustar la altura del contenedor */
}
.medio{
    display: block;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
.centro{
    margin: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

#borde{
    padding: 4%;
    border: 1px solid black;
    border-radius: 20px;
}

#div_r_comerciante{
    display: none;
}
#div_r_comprador{
    display: none;
}

.d_flex{
    display: flex;
}
.d_block{
    display: block;
}

#contenedor1{
    display: flex;
}
@media screen and (max-width: 680px) {
    #contenedor1{
        display: block;
    }
}
